@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #fff;
    transition: 1s ease-in-out;

}

body{
}


img{
    width: 30rem;
    height: 10rem;
    
            
}
button:not(:hover){
    cursor: pointer;
    border: none;

    padding: 1.5rem 2rem;

    background: #f1841e;
    color: #ffffff;
    font-size: 1rem;
    
    border-radius: 30px;
    transition: 1s ease;
    box-shadow: 2px 2px 28px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 28px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 28px -8px rgba(0,0,0,0.75);
}

button:hover{
    cursor: pointer;
    border: none;

    padding: 1.5rem 2rem;

    background: #ffffff;
    color: #f1841e;
    font-size: 1rem;
    
    border-radius: 30px;
    box-shadow: 2px 2px 28px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 28px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 28px -3px rgba(0,0,0,0.75);
    transition: 0.5s ease-in-out;
}
.bx-fingerprint:not(:hover){
    color: #ffffff;
}
.bx-fingerprint:hover{
    color: #f1841e;
}
.box1{
    margin-bottom: 1rem;
}
.box1 p{
    font-size: 2rem;
}
.box2{
    margin-top: 1rem;
}
.box3{
    margin-top: 3rem;
}
.box4{
    margin: 1rem 3rem;

    border-radius: 15px;
    padding: 1rem 1rem;

}
.box4 p{
    margin-left: 1rem;
    font-size: 1.2rem;
}
.box4 a{
    text-decoration: underline;
    color: #0000ff;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.bg-container{
    width: 100vw;
    height: 100vh;
    background-image: url(https://cdn.discordapp.com/attachments/613144044411027456/1083131153747296376/image.png);

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;




    
}
.content-main{
    background: #fff;
    height: 100vh;
    
    background: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    

}

.content-bottom{
    height: 47rem;
}
.content-center{
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    width: 30rem;
    height: 36rem;
    position: relative;
}

